html {
    font-size: 15px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

body {
    background-color: whitesmoke;
    overflow-x: hidden;
}

/* custom scroll bar */

::-webkit-scrollbar {
    width: 0.3vw;
}

::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* comms */

section {
    height: 100vh;
    position: relative;
}


.top-left-titles {
    font-family: "Londrina Outline", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 0;
    color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

@media only screen and (max-width:425px){
    .top-left-titles {
        font-size: 12rem;
    }
}


.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    /* border-bottom: 1px dashed black; */
}

/* nav */

.page-1 {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(132deg, rgba(243, 248, 171, 1) 0%, rgba(255, 245, 255, 1) 37%, rgba(255, 247, 231, 1) 59%, rgba(248, 231, 248, 1) 87%, rgba(255, 232, 193, 1) 100%);
}


nav {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    /* background-color: rgb(243, 150, 150); */
    border-bottom: 1px black solid;
}

nav ol li {
    display: inline;
    margin: 0 1.2rem;
    padding: 0.5rem;
}

nav ol li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 600;
    padding: 1rem;
    font-style: italic;
    color: rgb(0, 0, 0);
}

nav ol li:hover {
    transform: translateY(100px);
    color: rgb(88, 88, 88);
}

nav .logo {
    font-size: 4rem;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    cursor: default;
}

@media only screen and (max-width:350px) {
    nav ol li{
        margin: 0;
    }
    nav ol li a {
        padding: .4rem;
    }
}

@media only screen and (max-width:420px)  {
    nav ol li {
        margin: 0 0.4rem;
        padding: 0.2rem;
    }
}

/* hero section */

.hero-sec {
    height: 100%;
}

/* hero title */

.hero-title {
    display: flex;
    justify-content: center;
    height: 40%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    font-size: 6.4rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.hero-title .h-title {
    width: 70%;
    height: fit-content;
    line-height: 8rem;
}

.hero-img {
    height: 10000px;
    position: relative;
}

.hero-img img {
    background-size: cover;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: -13.33rem;
    /* transform: scale(1);  */
    transform-origin: center;
    animation: entry 1.5s ease;
}

@media only screen and (max-width:535px){
    .hero-title {
        font-size:5rem;
    }
}

/* cycle entry */

@keyframes entry {
    from {
        transform: translateX(-80rem);
    }

    to {
        transform: translateX(0);
    }
}

@media only screen and (min-width:770px) and (max-width:1024px){

    .hero-img img {
        transform: scale(1.3); 
        top: 3rem;
        animation: entry-mediaq-1 1.5s ease;
   }

   @keyframes entry-mediaq-1 {
    from {
      transform: translateX(-80rem) scale(1.3);
    }
    to {
      transform: translateX(0) scale(1.3);
    }
  }
}

@media only screen and (min-width:425px) and (max-width:769px) {
    .hero-img img {
         transform: scale(1.5); 
         top: 8rem;
         animation: entry-mediaq-2 1.5s ease;
    }
    
    @keyframes entry-mediaq-2 {
        from {
          transform: translateX(-80rem) scale(1.5);
        }
        to {
          transform: translateX(0) scale(1.5);
        }
      }
}

@media only screen and (min-width:0px) and (max-width:425px){

    .hero-img img {
        transform: scale(1.8); 
        top: 20rem;
        animation: entry-mediaq-3 1.8s ease;
   }

   @keyframes entry-mediaq-3 {
    from {
      transform: translateX(-80rem) scale(1.8);
    }
    to {
      transform: translateX(0) scale(1.8);
    }
  }
}

@media only screen and (min-width:0px) and (max-width:1024px){
    .hero-title {
        align-items: flex-end;
    }

    .hero-title .h-title {
        width: 90%;
    }
}

/* page 2 and page 3 comms*/
.page-2 , .page-3 , .page-4 , .page-5{
    border-bottom: 1px black solid;
    background: linear-gradient(132deg, rgba(243, 248, 171, 1) 2%, rgb(250, 237, 250) 33%, rgba(255, 247, 231, 1) 59%, rgba(248, 231, 248, 1) 87%, rgb(248, 224, 255) 100%);
}

.flex {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 40%;
    font-size: 1.6rem;
    text-align: justify;
}

.image {
    height: 50%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    height: 22rem;
    width: auto;
    border-radius: 10px;
}


@media only screen and (min-width:0px) and (max-width:769px) {
    .flex {
        flex-direction: column;
    }

    .content {
        width: 90%;
    }

    .image {
        height: 40%;
        width: auto;
        align-items: flex-start;
    }
}

/*  page 4 */
.flex-events {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}

.flex-events .item {
    width: 30rem;
    height: auto;
    overflow: hidden;
}

.flex-events .item img{
    width: 30rem;
    height: auto;
    border-radius: 10px;
}

@media only screen and (min-width:880px) and (max-width:1150px) {
    .flex-events .item {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .flex-events .item img{
        width: 25rem;
    }
}

@media only screen and (min-width:555px) and (max-width:880px){
    .flex-events .item {
        display: flex;
        justify-content: center;
        width: 40%;
        flex-direction: column;
    }

    .flex-events .item img{
        /* width: 17rem; */
        /* height: 10rem; */
        align-self: center;
    }
}

/* @media only screen and (min-width:400px) and (max-width:600px){} */
    

/*  page 5 */
.page-5 {
    position: relative;
}

.join-img {
    display: flex;
    justify-content: center;   
    width: 50%;
}

.join-img img {
    height: 25rem;
    border-radius: 10px;
}

.join-btn {
    display: block;
    background: linear-gradient(130deg, rgb(255, 252, 206) 0%, rgb(224, 155, 247) 100%);
    border: 2px black solid;
    padding: 0.8rem 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    border-radius: 15px;
    font-size: 2rem;
    margin: 1rem auto;
    cursor: pointer;
}

.join-btn:hover {
    background: linear-gradient(130deg, rgba(238,224,0,1) 0%, rgba(216,101,255,1) 100%);
}

.join-btn:active {
    color: white;
    background: linear-gradient(130deg, rgba(163,153,0,1) 0%, rgba(187,0,250,1) 100%);
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 2rem;
}

footer .footer-logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    text-align: center;
}

@media only screen and (min-width:600px) and (max-width:769px) {
    .join-btn {
        margin: 0 auto;
    }
}

/* media queries for fonts */

@media only screen and (min-width:2550px) {
    html {
        font-size:28px;
    }
}

@media only screen and (min-width:770px) and (max-width:1024px){
    html {
        font-size:10px;
    }
}

@media only screen and (min-width:600px) and (max-width:770px) {
    html {
        font-size:10px;
    }
}

@media only screen and (min-width:400px) and (max-width:600px) {
    html {
        font-size:8px;
    }
}

@media only screen and (min-width:300px) and (max-width:400px) {
    html {
        font-size:8px;
    }
}

@media only screen and (min-width:100px) and (max-width:400px) {
    html {
        font-size:7px;
    }
}

